ul {
    list-style-type: none;
    margin: 0;
    padding-left: 25%;
    position: fixed;
    width: 100%;
    top: 0;
    text-align: center;
    overflow: hidden;
    background-color: white;

  }


  
  
  li a {
    text-align: center;
    width: 50%;
    display: flex;
    color: rgb(0, 0, 0);
    padding: 50px 20px;
    text-decoration: none;
    font-size: 13pt;
   text-decoration-line: overline;
    margin-top: 20px;
  }
  
  
  li a:hover {
  color: #2ecc71;
    margin-top: 0px;
   
  }
  h2 {
      height: 50px;
      font-style: oblique;
      
  }
li{
float: left;
    
}


h1 {
    text-align: center;
    font-style: italic;
}
 

 header{
    height: 15vh;
    display: flex;
    text-align: justify;
    margin: 0;
    font-size: 36pt;

}
#home{
    height: 80vh;
    border: 2px solid rgb(44, 43, 43);
    display: flex;
    align-items: baseline;
    background-image: linear-gradient(rgba(255, 255, 255, 0.6),rgba(255, 255, 255, 0.6)), url('poop.jpg');
   

}

.logo{
  width: 250px;
  height: 100px;
 float: left;
 

}

.image1{
  width: 800px;
  height: 480px;
  padding-left: 700px;
  top: 0;
}
p{
  font-size: 54pt;
  font-style: oblique;

}
h3{
  font-size: 40pt;
  padding-left: 400px;
  text-align: left;
  padding-top: 150px;
  font-family: Arial, Helvetica, sans-serif;
 font-style: normal ;
}
h4{
  font-size: 40pt;
  padding-left: 400px;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;

}
#home .button{
  border-radius: 50%;
}

.box{
  width: 300px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  margin-left: 250px;
  font-size: 25pt;

}
.box h1{
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}

.box input[type = "submit"]{
  width: 280px;
  border-color: #2ecc71;
}
.box input[type = "submit"]{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 14px 40px;
  outline: none;
  color: black;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}
.box input[type = "submit"]:hover{
  background: #2ecc71;
}
body{
  background-color: lightgray;
}
