ul {
  list-style-type: none;
  margin: 0;
  padding-left: 15%;
  position: fixed;
  width: 100%;
  top: 0;
  text-align: center;
  overflow: hidden;
  background-color: white ;

}
ul:hover{
  background-color: white;
  border-bottom: 2px solid black;
  
}

li a {
  text-align: center;
  width: 80%;
  display: flex;
  color: rgb(0, 0, 0);
  padding: 20px 20px;
  text-decoration: none;
  font-size: 23pt;
 text-decoration-line: overline;
  
}


li a:hover {
  background-color: #555;
  
 
}
h2 {
    height: 50px;
    font-style: oblique;
    
}
li{
float: left;
  
}

section Week{
  background-color: #555 ;
}
h1 {
  text-align: center;
  font-style: italic;
}


header{
  height: 50vh;
  display: flex;
  text-align: justify;
  margin: 0;
  font-size: 36pt;

}
section{
  height: 100vh;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: baseline;
  text-align: center;

}

.logo{
width: 250px;
height: 100px;
float: left;
}
main{
padding-left: 250px ;
padding-right: 250px ;

}
.image1{
width: 800px;
height: 480px;
padding-left: 550px;
top: 0;
}
